.vacancy {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: start !important;

}

.search-params {
    display: flex;
    flex-direction: column !important;
}

.all-titles {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-bottom: 80px;
    justify-content: center !important;
}