@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.title {
    width: 659px;
    height: 248px;
    box-sizing: border-box;
    padding: 21px 24px!important;

    display: flex;
    gap: 16px;
    flex-direction: row;
    border-radius: 12px !important;
}

.title-head {
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    gap: 3px !important;
}

.title-head-name {
    font-size: 20px !important;
    font-weight: 600 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.title-head-decr {
    display: flex;
    flex-direction: row !important;
    align-items: start !important;
}

.title-head-decr-exp {
    font-size: 14px !important;
    margin: auto 0 !important;
}

.title-head-decr-pay {
    font-size: 16px !important;
}

.title-info {
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    gap: 8px !important;
}

.title-info-company {
    font-size: 14px;
    font-weight: 400;
}

.title-info-format {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 9px !important;
    font-weight: 700;
    padding: 1px 6px !important;
}

.title-info-location {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.title-buttons-view {
    background-color: #0F0F10 !important;
    color: #FFFFFF;
    font-weight: 400 !important;
    font-size: 14px;
    padding: 1px 18px 1px 18px;
    gap: 10px
}

.title-buttons-reply {
    background-color: #0F0F101A !important;
    color: #0F0F10 !important;
    font-weight: 400 !important;
    font-size: 14px;
    padding: 1px 18px 1px 18px;
    gap: 10px
}

.title-info-format.badge-hybrid {
  background-color: #000000;
  color: #FFFFFF;
  opacity: 100% !important;
}

.title-info-format.badge-office {
  background-color: #0F0F101A;
  color: #0F0F1080;
}